.Button {
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    margin: 10px;
    font-weight: bold;
    padding: 16px 32px;
}

/*.Button:first-of-type {*/
/*    margin-left: 0;*/
/*    padding-left: 0;*/
/*}*/

.Button:disabled {
    color: #ccc;
    cursor: not-allowed;
}

.Success {
    background-color: #FFAB00;
}

.Danger {
    /*color: #944317;*/
    background-color: #ff4438;
}